.anvil-m3-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 500;
}

.anvil-m3-avatar.anvil-m3-avatar-filled {
  background-color: var(--anvil-m3-primary);
  color: var(--anvil-m3-on-primary);
}

.anvil-m3-avatar.anvil-m3-avatar-tonal {
  background-color: var(--anvil-m3-secondary-container);
  color: var(--anvil-m3-on-secondary-container);
}

.anvil-m3-avatar.anvil-m3-avatar-outlined {
  background-color: transparent;
  color: var(--anvil-m3-on-surface-variant);
  border: 1px solid var(--anvil-m3-outline);
}

.anvil-m3-avatar.anvil-m3-avatar-small {
  height: 40px;
  width: 40px;
}

.anvil-m3-avatar-initials {
  letter-spacing: .15em;
  text-indent: .15em;
}

.anvil-m3-avatar.anvil-m3-avatar-small img.anvil-m3-avatar-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
